
# Core Dependencies
fastapi>=0.109,<0.120
pydantic>=2.3,<2.4
pydantic-settings
uvicorn[standard]

# AI and Text Handling
openai
sentence-transformers

# Environment
python-dotenv

# Web Scraping and Parsing
beautifulsoup4
lxml
requests
requests-html
